<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="30 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%t] %black(%d{ISO8601}) %highlight(%-5level) %yellow([%logger{0}]): %msg%n%throwable</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="org.hibernate.SQL" level="ALL" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
